# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Python cache
__pycache__/

# Django-specific files
*.log
db.sqlite3

# Environment variables
*.env
.env
docker/prod/.env
docker/dev/.env

# Static files (generated or uploaded)
static/images/
ceramica/staticfiles/

# Виключити конкретні файли з ігнорування
!static/images/logo.png
!static/images/default.jpg
!ceramica/staticfiles/logo.png
!ceramica/staticfiles/default.jpg

# Media files (uploaded)
media/

# Virtual environment
venv/
env/

# System files
Thumbs.db
.DS_Store