{% extends 'main.html' %} 
{% block title %}{{category.name}} - сайт керамічних виробів{% endblock %}
{% block keywords_seo %}розділ з ключовими словами {{category.name}}{% endblock %}
{% block description_seo %}Опис сторінки {{category.name}}{% endblock %}

{% block content %}
{% include 'breadcrumb.html' %}

<section class="row row-cols-1 row-cols-md-3 mb-5 g-4">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                <h1>{{category.name}}</h1>
            </div>
            {% if request.user.is_authenticated %}
            <div class="col-md-2 text-end pt-1">
                <sapn><a class="text-light btn btn-success btn-sm" href="{% url 'update-category' category.slug %}"><i class="bi bi-pencil-square"></i></a></span>
            </div>
            {% endif %}
        </div>  
        <p>
        {{category.description}}
        </p>
    </div>

    {% for sub_category in sub_categories %}
    <article class="col">
        <div class="card h-100">
        <a href="{% url 'subcategory' sub_category.slug %}">
            <img
            src="{{sub_category.image.url}}"
            class="card-img-top"
            alt="{{sub_category.name}}"
        />
        </a>
        <div class="card-body">
            <h5 class="card-title"><a class="link-underline link-underline-opacity-0 text-success" href="{% url 'subcategory' sub_category.slug %}">{{sub_category.name}}</a></h5>
            <p class="card-text">
            {{sub_category.description}}
            </p>
        </div>
        <div class="card-footer">
            <div class="row">
            <div class="col-md-8">Додано {{ sub_category.pub_date|date:"Y-m-d" }}</div>
            {% if request.user.is_authenticated %}
            <div class="col-2"><a class="text-light btn btn-success btn-sm" href="{% url 'update-subcategory' sub_category.slug %}"><i class="bi bi-pencil-square"></i></a></div>
            <div class="col-2"><a class="text-light btn btn-danger btn-sm" href="{% url 'delete-subcategory' sub_category.slug %}"><i class="bi bi-trash3-fill"></i></a></div>
            {% endif %}
            </div>
        </div> 
        </div>
    </article>
    {% endfor %}
</section>    
{% endblock content %}