{% extends 'main.html' %} {% block 'content' %}
<h1>{{category.name}}</h1>
{% for category in sub_category %}

<section class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    <div class="col-md-12" id="{{category.slug}}">
        <p>
        <h1>{{category.name}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id architecto, eveniet,
            accusantium nemo tempora autem omnis porro nam dolore rerum aut sapiente totam labore,
            voluptas officia ipsam perspiciatis nobis neque!</p>
        </p>
    </div>
    {% for prod in product %}
        {% if prod.sub_category.name == category.name %}
        <article class="col">
            <div class="card h-100">
                <img
                src="{{prod.image.url}}"
                class="card-img-top img-thumbnail"
                alt="{{category.name}}"
              />
                <div class="card-body">
                    <h5 class="card-title">{{ prod.name }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Артікль: <b>{{ prod.article }}</b></li>
                    <li class="list-group-item">Виробник: <b>{{ prod.producer.name }}</b></li>
                    <li class="list-group-item ">Ціна: <b class="text-success">{{ prod.price }}</b></li>
                </ul>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-8">Додано {{ prod.pub_date|date:"Y-m-d" }}</div>
                        {% if request.user.is_authenticated %}
                        <div class="col-2"><a class="text-success" href="{% url 'update-product' prod.id %}"><i class="bi bi-pencil-square"></i></a></div>
                        <div class="col-2"><a class="text-danger" href="{% url 'delete-product' prod.id %}"><i class="bi bi-trash3-fill"></i></a></div>
                        {% endif %}
                    </div>
                </div>                    
            </div>
        </article>
        {% endif %}
    {% endfor %}
    </section>
{% endfor %}

{% endblock 'content' %}