{% extends 'main.html' %} {% block 'content' %}

<section class="row row-cols-1 row-cols-md-3 mb-5 g-4">
  <div class="col-md-12">
    <h1>Загловок головної сторінки</h1>
    <p>
      Зануртесь у світ краси та майстерності з нашим каталогом керамічних виробів! Від унікальних ваз і фігурок до елегантних підносів та посуду - ми пропонуємо широкий вибір авторських та якісних робіт, які прикрасять ваш дім та подарують неповторний шарм. Ознайомтесь з нашим асортиментом прямо зараз!
    </p>
  </div>

  {% for cat in category %}

  <article class="col">
    <div class="card h-100">
      <a href="{% url 'category' cat.slug %}">
        <img
        src="{{cat.image.url}}"
        class="card-img-top"
        alt="{{cat.name}}"
      />
      </a>
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'category' cat.slug %}">{{cat.name}}</a></h5>
        <p class="card-text">
          {{cat.description}}
        </p>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-md-8">Додано {{ cat.pub_date|date:"Y-m-d" }}</div>
          {% if request.user.is_authenticated %}
          <div class="col-2"><a class="text-success" href="{% url 'update-category' cat.slug %}"><i class="bi bi-pencil-square"></i></a></div>
          <div class="col-2"><a class="text-danger" href="{% url 'delete-category' cat.slug %}"><i class="bi bi-trash3-fill"></i></a></div>
          {% endif %}
        </div>
    </div> 
    </div>
  </article>
  {% endfor %}
</section>
{% endblock 'content' %}
