{% extends 'main.html' %}

{% block 'content' %}

<section class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    <div class="col-md-12">
        <p>
        <h1>Сторінка якщо виникли проблеми з авторизацією</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id architecto, eveniet,
            accusantium nemo tempora autem omnis porro nam dolore rerum aut sapiente totam labore,
            voluptas officia ipsam perspiciatis nobis neque!</p>
        </p>
    </div>

</section>


{% endblock %}