{% extends 'main.html' %}
{% block title %}{{page.title}} - сайт керамічних виробів{% endblock %}
{% block keywords_seo %}розділ з ключовими словами {{page.title}}{% endblock %}
{% block description_seo %}Опис сторінки {{page.title}}{% endblock %}

{% block content %}
<section class="row row-cols-1 row-cols-md-3 mb-5 g-4">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                <h1>{{page.title}}</h1>
            </div>
            {% if request.user.is_authenticated %}
            <div class="col-md-2 text-end pt-1">
                <sapn><a class="text-light btn btn-success btn-sm" href="{% url 'update-pages' page.slug %}"><i class="bi bi-pencil-square"></i></a></span>
            </div>
            {% endif %}
        </div>
        <p>
        {{page.content | safe}}
        </p>
    </div>
</section>
{% endblock %}