{% load static %}
<header>
    <ul class="nav justify-content-end border-bottom m-1 pb-1">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Головна</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Про нас</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Контакти </a>
      </li>
      <li class="nav-item">
        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-sm btn-success m-1 pb-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Вхід адмінсістратора <i class="bi bi-box-arrow-in-right"></i>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Форма авторизації</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-success">Вхід</button>
              </div>
            </div>
          </div>
        </div>

      </li>
    </ul>
  </header>