{% load static %}
  <aside class="col-md-3" id="navbar-example2">
    <div class="row sticky-top overflow-auto">
      <div class="flex-shrink-0 p-3 bg-secondary-emphasis">
        <a href="/" class="d-flex align-items-ce nter pb-3 mb-3 link-dark text-decoration-none">
          <img class="img-fluid" src="{% static 'images/logo.jpg' %}" alt="logo">
        </a>
        <ul class="list-unstyled ps-0 d-none d-md-block">
          {% for category in categoriesfornav %}
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#{{category.slug}}-collapse" aria-expanded="folse">
            {{ category.name }}
            </button>
            <div class="collapse" id="{{category.slug}}-collapse">
                  {% if category.subcategories.all %}
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                          {% for subcategory in category.subcategories.all %}
                              <li><a href="{% url 'subcategory' subcategory.slug %}" class="link-dark rounded">{{ subcategory.name }}</a></li>
                          {% endfor %}
                      </ul>
                  {% endif %}
              </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </aside>